.sidebar {
	flex: 0 0 300px;
	padding: 15px;
	border-right: 1px solid #000;
	.title {
		font-size: 24px;
		font-weight: bold;
	}
	.stepsList {
		margin-top: 15px;
		list-style-position: inside;
		.stepsListItem {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
	}
}
