.mainMenu {
	display: flex;
	margin-top: 10px;
}
.menuItem:not(:first-child) {
	margin-left: 20px;
}
.dropdownContent {
	display: none;
}
.menuItem:hover .dropdownContent {
	position: relative;
	display: block;
}
